/* @import url('https://fonts.googleapis.com/css2?family=Cabin&family=Oswald&display=swap');



$primary-black: #22292f;
$secondary-black: #606f7b;
$teriary-grey: #f0f0f0;
$light-grey: #bfcbd4;
$light-blue: #759cc9;
$button-blue: #24BCFF; */
body, html {
  position: relative;
  height: 100%;
}
.form , .project{
  width: 22vw;
  height: 38vh;
  background:white;
  margin: 1% 1%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  text-align: center;
  position: relative;
  border: 1px solid  #f0f0f0;
  overflow: auto;
  /* border: 2px solid blue; */
}

.formContainer , .projectContainer{
  border-radius: 5px;
  width: 100vw;
  height: 40vh;
  position: relative;
  margin: 0 auto;
  overflow-y: scroll;
  z-index: 5;
  display: flex;
  flex-direction: column-reverse;
  flex-flow: row wrap;
  justify-content: flex-start;
  /* border: 2px solid red; */
}

.headers {
  border: 1px solid black;
}

.commentArea {
  width: 100%;
  position: relative;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;

  /* border: 2px solid purple; */
}

.commentBox {
  padding: 5%;
  width: 100%;
  border: 1px solid #f0f0f0;
}

.commentButton{
  top: 25%;
  right: 5%;
  position: absolute;
  border: 1px solid transparent;
  background-color: white;
}

.renderedCom {
  text-align: center;
}

.comments {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* border: 2px solid green; */
}

.icons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.deleteProject {
  background-color: transparent;
  position: absolute;
  right: 0;
  border: 1px solid transparent;
}
