.project {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 5px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  height: 500px;
  width: 400px;
  justify-content: space-between;
}

.dashboardContainer {
  height: 100%;
  width: 100%;
}

.userDashboard {
  display: flex;
  flex-direction: row;
}

.projectPanel {
  width: 100%;
}

.projectContainer {
  display: flex;
  flex-direction: column-reverse;
  flex-flow: row wrap;
  flex-grow: 1;
  overflow-y: scroll; */
}

.projectInfo {
  text-align: center;
}

.commentContainer {
  text-align: center;
  height: 400px;
  overflow-y: scroll;
}

.commentBtn {
  color: #bebebed8;
}

.comment {
  font-size: 125%;
}

.renderedCom {
  text-align: center;
}

.commentInput {
  display: flex;
  height: 100px;
  width: 100%;
  border: 1px solid #f0f0f0;
  position: relative;
}

.commentInput > * {
  flex: auto;
}

.icons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #354e9c;
  color: rgba(255, 255, 255, 0.897);
  width: 100%;
  position: relative;
}

.commentField {
  border: 1px solid #f0f0f0;
  padding-left: 2%;
}

h1 {
  text-align: center;
}
