<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <script src="https://kit.fontawesome.com/7e1cebd082.js" crossorigin="anonymous"></script>
    <meta
      property="csp-nonce"
      content="<%= htmlWebpackPlugin.options.nonce %>"
    />
    <title>ReacType</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="icon"
      href="https://raw.githubusercontent.com/open-source-labs/ReacType/master/app/src/public/icons/png/512x512.png"
    />
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
