<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <script src="https://kit.fontawesome.com/7e1cebd082.js" crossorigin="anonymous"></script>
    <!-- This file is .ejs rather than .html so that we can dynamically add a nonce into the header -->
    <!-- the nonce is used in the Content security policy webpack plugin so that Material UI styles can be injected into the DOM -->
    <!-- https://github.com/reZach/secure-electron-template/issues/14 -->
    <meta
      property="csp-nonce"
      content="<%= htmlWebpackPlugin.options.nonce %>"
    />
    <base href="app://rse" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->
    <!-- Original meta tag with content security policy -->
    <!-- <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' https: filesystem: data: ws: 'unsafe-eval' 'unsafe-inline'"
    /> -->
    <!-- Removed this option from original CSP () -->
    <title>ReacType</title>
    <!-- <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    /> -->
  </head>

  <body>
    <div id="app"></div>
  </body>
</html>
