{
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "alias": {
          "Components": "./app/src/components",
          "Containers": "./app/src/containers"
        }
      }
    ]
  ],
  // presets are a set of of plug-ins
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ]
}
