*,
*::before,
*::after {
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
  box-sizing: border-box;
  /* overflow: hidden; */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9 em;
  font-weight: 400;
  overflow: hidden;
  /* overflow: auto; */
}

h4 {
  color: #155084;
  text-align: center;
}

/*
///////////////////////////////////////////
Remove focus styling
/////////////////////////////////////////////
*/

:focus {
  outline: 0;
}

:disabled {
  cursor: not-allowed;
}

header {
  display: none;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.mode-change-button {
  display: flex;
  align-content: center;
  padding-top: 50px;
}

.progress-bar {
  flex-grow: 1;
}

.column {
  /* width: 25%; */
  background-color: #ececea;
  /* margin-top: 65px; */
}

/* .column-right-export-btn {
  transition: display 400ms ease-in-out 300ms;
} */

/*
///////////////////////////////////////////
BUTTONS
/////////////////////////////////////////////
*/

/* .btn {
  font-size: 1em;
} */

/*
///////////////////////////////////////////
LEFT COLUMN
/////////////////////////////////////////////
*/

.left {
  padding: 10px 10px 10px 0px;
  display: flex;
  width: 200px;
  min-width: 200px;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  /* box-shadow: 0 5px 7px 2px rgba(0, 0, 0, 0.4); */
}

/* .htmlPanel {
  position: absolute;
  bottom: 0;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  left: 0px;
  right: 0px;
  width: 100%;
  padding: 1%;
} */

/* affecting HTMl elements in HTML Panel */
/* .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-8.MuiGrid-align-items-xs-baseline { */
/* padding: 3rem; */
/* margin: -5rem;
  padding-right: 5rem;
  padding-top: 3rem;
  padding-left: 1rem; */
/* width: 50%; */
/* } */

.HTMLItems {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

#HTMLItemsTopHalf {
  height: 52vh;
  overflow-y: auto;
}

.HTMLElements {
  /* margin-left: 10px; */
  margin: 0px 0px 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

#HTMLItemsGrid {
  margin-left: 27px;
}

#HTMLItem {
  /* transition: background 0.5s ease-in-out; */
  transition: 0.3s;
 } 

#HTMLItem:hover {
  background-color: #297ac2;
  color: white;
}

#submitButton {
  margin-left: 5px;
}

#submitButton:hover {
  background-color: #297ac2;
  color: white;
  border: none;
}

#addComponentButton:hover {
  background-color: #297ac2;
  color: white;
  border: none;
  cursor: pointer;
}

.lineDiv {
  width: 150%;
  margin-left: 0px;
  /* background-color: red; */
}

.customForm {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 43px;
  color: white;
}

.customForm h5 {
  text-align: center;
  font-size: 100%;
  font-weight: 700;
  width: 125%;
  margin-left: -5px;
}


.customForm input {
  /* width: 150px; */
  float: left;
  margin: 20px 0px 0px -13px;
  border-color: white;
  /* width: 120px; */
}

/* deleteAllInstances button in HTMLItem.tsx - 'x' attached to custom HTML element */
#newElement {
  /* color: #186BB4; */
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-self: flex-end;
  align-self: flex-start;
  width: .5em;
}

/* span container in HTMLItem.tsx */
#customHTMLElement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 125px;
}

.component-input {
  bottom: 2.8%;
}

.clear-workspace {
  top: 96%;
  position: sticky !important;
  z-index: 1;
}

/*
///////////////////////////////////////////
MAIN COLUMN
/////////////////////////////////////////////
*/

h1 {
  color: #ccc;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 700px;
  /* margin-top: 65px; */
  /* height: 876px; */
  /* align-self: flex-end; */
  /* overflow-x: hidden; */
}

.main-header {
  /* display: flex; */
  /* border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey; */
  background-color: #212121;
  box-shadow: 0 5px 7px -2px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.main-header-buttons {
  display: flex;
  font-size: 12px;
}

.main {
  /* border-left: 1px solid grey; */
  /* border-right: 1px solid grey; */
  background: #fff;
  flex: 1;
  width: 100%;
  overflow: auto;
  display: flex;
  background-color: #e4e4e4;
  /* justify-content: center;
  align-items: center; */
}

.draggable {
  position: relative;
}

.image {
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
}

.image-container {
  position: relative;
  display: flex;
  top: 0;
  left: 0;
}

.export-preference div span {
  transition: color 1s, background-color 1.5s, transform 2s;
}

.export-preference div:hover {
  background-color: #303f9f;
}

.export-preference div:hover span {
  color: white;
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ace_scrollbar {
  display: none;
}

.ace_print-margin {
  display: none;
}

/*
///////////////////////////////////////////
RIGHT COLUMN
/////////////////////////////////////////////
*/

#rightContainer {
  overflow-y: scroll;
  overflow-x: hidden;
}

.export {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* BOTTOM PANEL */

.bottom-panel {
  transition: width 250ms ease-in-out;
  width: 100%;
  height: 100%;
  min-height: 25%;
  /* display: flex; */
  /* flex-direction: row; */
  /* background-color: #fcfcfc; */
}

.htmlattr {
  /* background-size: auto; */
  height: 80%;
  overflow-y: scroll;
  margin-left: 50px;
}

.props-container {
  margin-left: 10px;
  height: 33%;
  width: 100%;
}

.props-input {
  margin-bottom: 15px;
}

.chips {
  height: 55%;
  overflow: auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

.flex1 {
  padding: 10px 20px 10px 5px;
  /* color: #01d46d; */
  /* color: #41658A; */
}

.flex2 {
  padding-right: 10px;
  padding-left: 10px;
  border: rgb(68, 68, 68) solid 1px;
  border-radius: 5px;
  background-color: 252526;
}

/* Material-UI */

/* Sortable tree sorting */
.sortable-tree {
  height: 100%;
  background-color: rgb(37, 37, 38);
}

div.rst__rowContents {
  width: 45px;
  border: none;
  color: #eee;
  background-color: #333333;
}

.rst__rowContentsDragDisabled {
  background-color: #333333;
  background-color: rgba(37, 37, 38, 0.4);
}

.rst__moveHandle,
.rst__loadingHandle {
  width: 40px;
}

.rst_tree {
  overflow: auto;
}

.rst__rowLabel {
  padding-right: 5px;
}

.closeIcon:hover {
  cursor: pointer;
}

a.nav_link {
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  text-decoration: none;
}
a.nav_link:hover {
  color: #3ec1ac;
  text-decoration: underline;
}

/* Additional styling for ReacType X */

.componentDefault {
  width: 100%;
  border: 2px solid gray;
  min-height: 150px;
  padding: 10px;
  background-color: lightgray;
  opacity: 0.75;
}

.inputName {
  margin-bottom: 35px;
  text-align: center;
}

#checkboxContainer {
  display: flex;
  justify-content: space-around;
  margin-left: -40px;
}

.makeStyles-panelWrapperList-4::-webkit-scrollbar-track {
  background-color: rgba(25, 25, 25, 0.8);
}

.compPanelItem {
  height: 100%;
  position: relative;
  display: flex;
  /* justify-content: center; */
  /* margin-bottom: 25px; */
}

.compPanelItem h3 {
  /* padding-top: 25px; */
  font-size: 1.25em;
  letter-spacing: 0.75px;
}

.compPanelItem:hover {
  cursor: pointer;
  padding-bottom: 25px;
}

/* ----------------------------RIGHT PANEL---------------------------------- */

.right {
  padding-top: 35px;
  width: 420px;
}

.rightContainer {
  margin-top: 65px;
}

.rightPanelWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

/* .oauth-btn {
  -webkit-font-smoothing: antialiased;
  border: 0;
  display: inline-flex;
  outline: 0;
  position: relative;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  color: white;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
  background-color:#4267B2;
  width: 396px;
  cursor: pointer;
  margin: 8px 0px 8px;
} */

.oauth-btn:hover {
  background-color: #4e76c7;
}

/*===========================NAVBAR=================================*/

#navbarButton {
  color: white;
  margin: 0px 5px 0px 5px;
  /* min-width: 138px; */
}

#customized-menu {
  width: 16%;
}
