@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
@import url('https: //fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-size: 0.9 em;
  font-weight: normal;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #191919;
}

h4 {
  color: #155084;
  text-align: center;
}

.creation-panel {
  color: black;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.customization-section {
  color: black;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.state-panel {
  margin-top: -15px;
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.state-prop-grid {
  height: 300px;
  width: 410px;
  flex-grow: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.HTMLItemCreate {
  flex-grow: 1;
  justify-content: center;
}

:disabled {
  cursor: not-allowed;
}

header {
  display: none;
}

.app-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 64px);
}

.mode-change-button {
  display: flex;
  align-content: center;
  padding-top: 50px;
}

.progress-bar {
  flex-grow: 1;
}

.column {
  background-color: #1e2024;
  margin-right: 1.5px;
}

/*
/////////////////////////////////////////////////
LEFT COLUMN
/////////////////////////////////////////////////
*/

.app-container {
  position: relative;
}

.left-container {
  display: flex;
  z-index: 1;
}

span.material-symbols-outlined {
  padding: 1px;
  font-size: 18px;
}

.left {
  padding: 0px;
  display: flex;
  height: 100%;
  width: 280px;
  min-width: 225px;
  flex-direction: column;
  align-content: center;
  position: relative;
  overflow-x: hidden;
}

.column.left::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.column.left::-webkit-scrollbar-thumb {
  transition: 0.3s ease all;
  border-color: transparent;
  background-color: #1e2024;
  border-radius: 8px;
  z-index: 40;
}

.hide-show {
  position: absolute;
  height: 100%;
  left: -252px;
  transition: all 0.5s ease-in-out;
}

.hide-show:hover {
  left: 0px;
  z-index: 289;
}

.HTMLItems {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: 1;
}

.HTMLItemsDark {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
  border: 3px solid white;
}

#Half {
  display: flex;
  flex-direction: column;
  justify-content: top;
  height: 60vh;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}

#HTMLItemsTopHalf::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.5rem;
}

#HTMLItemsTopHalf::-webkit-scrollbar-thumb {
  transition: 0.3s ease all;
  border-color: transparent;
  background-color: #1e2024;
  border-radius: 8px;
  z-index: 40;
}

#CompBottomHalf {
  flex-grow: 1;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.HTMLElements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

#HTMLgrid {
  margin: 5px;
}

#HTMLItemsGrid {
  display: flex;
}

#HTMLItem {
  transition: 0.3s;
  border: 1px solid transparent;
  color: #f2fbf8;
  padding: 10%;
  border-radius: 10px;
  box-shadow: #191919;
}

#HTMLItem:hover {
  background-color: #474545a8;
  color: #8ca8ff;
}

#submitButton {
  margin-left: 5px;
}

#submitButton:hover {
  background-color: #0671e3;
  color: white;
  border: none;
  cursor: pointer;
}

.lineDiv {
  width: 150%;
  margin-left: 0px;
}

.customForm {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
  font-size: 95%;
}

.customForm h4 {
  align-self: center;
}

#newElement {
  border: none;
  background: none;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  width: 0.5em;
}

/* span container in HTMLItem.tsx */
#customHTMLElement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 125px;
}

.component-input {
  bottom: 2.8%;
}

.clear-workspace {
  top: 96%;
  position: sticky !important;
  z-index: 1;
}

.hidden {
  display: none;
}

/*
/////////////////////////////////////////////////
MAIN COLUMN
////////////////////////////////////////////////
*/

h1 {
  color: rgb(75, 75, 75);
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 700px;
}

.main-header {
  background-color: #212121;
  box-shadow: 0 5px 7px -2px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.main-header-buttons {
  display: flex;
  font-size: 12px;
}

.main {
  background: #fff;
  flex: 1;
  width: 100%;
  overflow: auto;
  display: flex;
  background-color: #e4e4e4;
}

.draggable {
  position: relative;
}

.image {
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
}

.image-container {
  position: relative;
  display: flex;
  top: 0;
  left: 0;
}

.export-preference div span {
  transition: 0.5s;
}

#export-modal {
  transition: 0.5s;
}

#export-modal:hover {
  background-color: #66c4eb;
  cursor: pointer;
}
/*                                                        ///CHANGED COLOR COLOR */
#export-modal:hover span {
  color: white;
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ace_scrollbar {
  display: none;
}

.ace_print-margin {
  display: none;
}

/*
//////////////////////////////////////////////////
RIGHT COLUMN
/////////////////////////////////////////////////
// RIGHT NOW, I'M NOT SURE WHAT RIGHT COL IS REFERING TO
*/
#rightContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 99.9%;
}

.right {
  padding-top: 0px;
  width: 100%;
  height: 100%;
}

.rightContainer {
  margin-top: 65px;
  color: black;
}

.rightPanelWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#addComponentButton {
  height: 49px;
  width: 130px;
  background-color: #0671E3;
  border: 2px solid #0671E3;
  border-radius: 10px;
  font-size: 16.5px;
}

#addComponentButton:hover {
  background-color: #25366d;
  border: 2px solid #354e9c;
  color: white;
  cursor: pointer;
}

.export {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.makeStyles-panelWrapperList-4::-webkit-scrollbar-track {
  background-color: rgba(25, 25, 25, 0.8);
}

.compPanelItem {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  border-color: #0671e3;
}

.compPanelItem h3 {
  font-size: 1em;
  letter-spacing: 0.75px;
  padding: 5px 10px;
}

.compPanelItem:hover {
  cursor: pointer;
}

/*
/////////////////////////////////////////////////////
BOTTOM PANEL
/////////////////////////////////////////////////////
*/

.tab-content {
  height: calc(100% - 76px);
  width: 100%;
  overflow-y: scroll;
  overflow-x: auto;
  position: relative;
  z-index: 0;
  background-color: #1e2024;
}

.tab-content::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.5rem;
}

.tab-content::-webkit-scrollbar-thumb {
  transition: 0.3s ease all;
  border-color: transparent;
  background-color: gray;
  border-radius: 8px;
  z-index: 40;
}

.tab-content::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.5rem;
}

.tab-content::-webkit-scrollbar-thumb {
  transition: 0.3s ease all;
  border-color: transparent;
  background-color: gray;
  border-radius: 8px;
  z-index: 40;
}

.MuiDataGrid-menuList,
.MuiDataGrid-columnsPanel,
.MuiDataGrid-filterForm {
  background-color: #333333;
}
.MuiDataGrid-panelHeader,
.MuiDataGrid-panelFooter {
  background-color: #252525;
}

#resize-drag {
  cursor: row-resize;
  height: 23px;
  width: 75px;
  background-color: #1e2024;
  text-align: center;
  border-radius: 7px 7px 0 0;
  align-self: center;
  margin-top: -25px;
  color: silver;
  user-select: none;
  z-index: 1;
}

.bottom-panel {
  transition: width 250ms ease-in-out;
  background-color: #0671e3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.htmlattr {
  height: 80%;
  overflow-y: scroll;
  margin-left: 50px;
}

.props-container {
  margin-left: 10px;
  height: 33%;
  width: 100%;
}

.props-input {
  margin-bottom: 15px;
}

.chips {
  height: 55%;
  overflow: auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

.flex1 {
  padding: 10px 20px 10px 5px;
}

.flex2 {
  padding-right: 10px;
  padding-left: 10px;
  border: rgb(68, 68, 68) solid 1px;
  border-radius: 5px;
  background-color: #0671e3;
}

.event-table {
  height: 300px;
  width: 410px;
  flex-grow: 1;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 20px;
}

/*
//////////////////////////////////////////
NAVBAR
//////////////////////////////////////////
*/

.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

.main-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
}

.main-navbar svg {
  width: 30px;
  height: 30px;
  color: gray;
  margin-right: 2vw;
  cursor: pointer;
}

.navDropDown {
  position: absolute;
  width: 230px;
  border-radius: 8px;
  right: 1vw;
  z-index: 10;
  background-color: #31343A;
  top: 45px;
  padding: 10px 0;
  display: hidden;
}

.hideNavDropDown {
  display: none;
}

.navDropDown button {
  width: 100%;
  background-color: #31343A;
  color: #D9DADA;
  padding: 9px 25px;
  display: flex;
  align-items: center;
  border: none;
}

.navDropDown span {
  margin-left: -25px;
}

.navDropDown p {
  margin: 3px 5%;
  color: #D9DADA;
}

.navDropDown button:hover {
  cursor: pointer;
  background-color: #393C42;
}

.navDropDown button svg {
  width: 20px;
  height: 20px;
  color: gray;
}

#navbarButton {
  color: white;
  margin: 0px 5px 0px 5px;
}

#customized-menu {
  width: 16%;
}

#canvasContainer::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.7rem;
}

#canvasContainer::-webkit-scrollbar-thumb {
  transition: 0.3s ease all;
  border-color: transparent;
  background-color: gray;
  border-radius: 8px;
  z-index: 40;
}

/*
/////////////////////////////////////////////////
CANVAS WINDOW
/////////////////////////////////////////////////
*/

.delete-button-empty {
  float: right;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border: none;
  font-size: 15px;
  color: white;
}

.deleteIcon {
  font-size: 18px;
  color: gray;
  cursor: pointer;
}

.deleteIcon:hover {
  color: white;
}

.componentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', 'Raleway', sans-serif;
  height: 100%;
}

/* Material-UI */
/* Sortable tree sorting */
.sortable-tree {
  height: 100%;
  background-color: rgb(37, 37, 38);
}

div.rst__rowContents {
  width: 45px;
  border: none;
  color: #eee;
  background-color: #333333;
}

.rst__rowContentsDragDisabled {
  background-color: #333333;
  background-color: rgba(37, 37, 38, 0.4);
}

.rst__moveHandle,
.rst__loadingHandle {
  width: 40px;
}

.rst_tree {
  overflow: auto;
}

.rst__rowLabel {
  padding-right: 5px;
}

.closeIcon:hover {
  cursor: pointer;
}

/* Additional styling for ReacType X */
.componentDefault {
  width: auto;
  border: 2px solid gray;
  min-height: 150px;
  padding: 10px;
  background-color: rgb(213, 80, 164);
  opacity: 0.75;
}

.inputName {
  margin-bottom: 35px;
  text-align: center;
}

.oauth-bttn:hover {
  background-color: #4e76c7;
}

.text-editor .bttn {
  position: absolute;
  bottom: 90px;
  right: 30px;
  z-index: 999;
}

.cssSaveBtn {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  background-color: #0671E3;
  box-shadow: none;
  padding: 32px;
}

.useState-btn {
  color: rgb(241, 240, 240);
  background-color: #2d313a;
  border: 1px solid #2d313a;
  border-radius: 10px;
  box-shadow: '2px 2px 2px #1a1a1a';
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 12px;
  margin-left: 20px;
}

.useState-position {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  top: 30%;
  left: 30%;
}

.useState-header {
  font-size: 35px;
  background-color: #0671e3;
  color: rgb(241, 240, 240);
  width: 600px;
  border: 3px;
  border-style: solid;
  border-color: #0671e3;
  font-family: 'Open Sans', sans-serif;
  border-radius: 15px 15px 0px 0px;
}

.useState-dropdown {
  align-self: flex-start;
}

.useState-window {
  width: 600px;
  height: 400px;
  resize: none;
  white-space: pre-line;
  font-size: 18px;
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 0px 0px 15px 15px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(241, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  color: black;
}

.bi {
  margin-right: 0.5rem;
  text-transform: none;
}

.blue-accent-text {
  color: #2997ff;
}

a.nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
}

a.nav_link:hover {
  color: #3ec1ac;
  text-decoration: underline;
}

.other-options {
  margin-bottom: 1r;
  text-transform: none;
  size: 1rem;
  color: white;
  transition: 300ms;
}

.other-options:hover {
  color: #aaaaaa;
  cursor: pointer;
}
