*,
*::before,
*::after {
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
@import url('https: //fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

html {
  box-sizing: border-box;
  /* height: 100vh;
  width: 100vw; */
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-size: 0.9 em;
  font-weight: normal;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #191919;
}

h4 {
  color: #155084;
  text-align: center;
}

.creation-panel {
  color: black;
  display: flex;
  flex-direction: row;
  /* height: 100%; */
  background-color: #191919;
}

.customization-section {
  color: black;
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: #191919;
}

.state-panel {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.state-prop-grid {
  height: 300px;
  width: 410px;
  flex-grow: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.HTMLItemCreate {
  flex-grow: 1;
  justify-content: center;
}

:disabled {
  cursor: not-allowed;
}

header {
  display: none;
}

.app-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 64px);
}

.mode-change-button {
  display: flex;
  align-content: center;
  padding-top: 50px;
}

.progress-bar {
  flex-grow: 1;
}

.column {
  background-color: #191919;
}

/*
/////////////////////////////////////////////////
LEFT COLUMN
/////////////////////////////////////////////////
*/

.app-container {
  position: relative;
}

.left-container {
  display: flex;
  z-index: 1;
}

/* .left-indicator {
  height: 50%;
  width: 20px;
  background-color: silver;
  border: 2px solid black;
  writing-mode: vertical-lr;
  text-align: center;
  border-radius: 0 10px 10px 0;
  align-self: center;
} */

span.material-symbols-outlined {
  padding: 1px;
  font-size: 18px;
}

.left {
  padding: 0px;
  display: flex;
  height: 100%;
  width: 280px;
  min-width: 225px;
  flex-direction: column;
  align-content: center;
  position: relative;
  overflow-x: hidden;
  /* border-right: solid black 3px; */
  border: solid gray 1px;
}

.column.left::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.column.left::-webkit-scrollbar-thumb {
  transition: 0.3s ease all;
  border-color: transparent;
  background-color: #1e83714b;
  border-radius: 8px;
  z-index: 40;
}

.hide-show {
  position: absolute;
  height: 100%;
  left: -252px;
  /* opacity: 0; */
  transition: all 0.5s ease-in-out;
}

.hide-show:hover {
  /* opacity: 1; */
  left: 0px;
  z-index: 289;
}

.HTMLItems {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: 1;
  border: 1px solid #c6c6c6;
  /* border-radius: 10px; */
}

/* .HTMLItems::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
} */

/* .HTMLItems::-webkit-scrollbar-thumb { //not accessing due to cascade, refer to HTMLItemTopHalf
  transition: .3s ease all;
  border-color: transparent;
  background-color: #1c695ccc;
  z-index: 40;
} */

.HTMLItemsDark {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
  border: 3px solid white;
}

#Half {
  display: flex;
  flex-direction: column;
  justify-content: top;
  height: 60vh;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}

#HTMLItemsTopHalf::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.5rem;
}

#HTMLItemsTopHalf::-webkit-scrollbar-thumb {
  transition: 0.3s ease all;
  border-color: transparent;
  background-color: #1e83714b;
  border-radius: 8px;
  z-index: 40;
}

#CompBottomHalf {
  flex-grow: 1;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.HTMLElements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

#HTMLgrid {
  margin: 5px;
}

#HTMLItemsGrid {
  display: flex;
  /* margin-left: 35px; */
}

#HTMLItem {
  transition: 0.3s;
  border: 1px solid #d2f5eb;
  color: #f2fbf8;
  padding: 10%;
  border-radius: 5px;
}

#HTMLItem:hover {
  background-color: #474545a8;
  color: #a5ead6;
}

#submitButton {
  margin-left: 5px;
}

#submitButton:hover {
  background-color: #29a38a;
  color: white;
  border: none;
  cursor: pointer;
}

.lineDiv {
  width: 150%;
  margin-left: 0px;
}

.customForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: white;
  font-size: 95%;
}

.customForm h5 {
  text-align: center;
  font-size: 100%;
  font-weight: 700;
  width: 125%;
  margin-left: -5px;
}

.customForm input {
  align-self: center;
  margin: 0px 0px;
}

#newElement {
  border: none;
  background: none;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  /* justify-self: flex-end; */
  /* align-self: flex-start; */
  width: 0.5em;
}

/* span container in HTMLItem.tsx */
#customHTMLElement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 125px;
}

.component-input {
  bottom: 2.8%;
}

.clear-workspace {
  top: 96%;
  position: sticky !important;
  z-index: 1;
}

.hidden {
  display: none;
}

/*
/////////////////////////////////////////////////
MAIN COLUMN
////////////////////////////////////////////////
*/

h1 {
  color: rgb(75, 75, 75);
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 700px;
  /* overflow: auto; */
}

.main-header {
  background-color: #212121;
  box-shadow: 0 5px 7px -2px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.main-header-buttons {
  display: flex;
  font-size: 12px;
}

.main {
  background: #fff;
  flex: 1;
  width: 100%;
  overflow: auto;
  display: flex;
  background-color: #e4e4e4;
}

.draggable {
  position: relative;
}

.image {
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
}

.image-container {
  position: relative;
  display: flex;
  top: 0;
  left: 0;
}

.export-preference div span {
  transition: 0.5s;
}

#export-modal {
  transition: 0.5s;
}

#export-modal:hover {
  background-color: #29a38a;
  cursor: pointer;
}

#export-modal:hover span {
  color: white;
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ace_scrollbar {
  display: none;
}

.ace_print-margin {
  display: none;
}

/*
//////////////////////////////////////////////////
RIGHT COLUMN
/////////////////////////////////////////////////
// RIGHT NOW, I'M NOT SURE WHAT RIGHT COL IS REFERING TO
*/
#rightContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.right {
  padding-top: 0px;
  width: 100%;
  height: 100%;
}

.rightContainer {
  margin-top: 65px;
  color: black;
}

.rightPanelWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#addComponentButton {
  border: 2px solid #46c0a5;
  border-radius: 4px;
}

#addComponentButton:hover {
  background-color: #29a38a;
  color: white;
  border: none;
  cursor: pointer;
}

.export {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.makeStyles-panelWrapperList-4::-webkit-scrollbar-track {
  background-color: rgba(25, 25, 25, 0.8);
}

.compPanelItem {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  border-color: #46c0a5;
}

.compPanelItem h3 {
  font-size: 1em;
  letter-spacing: 0.75px;
  padding: 5px 10px;
}

.compPanelItem:hover {
  cursor: pointer;
}

/*
/////////////////////////////////////////////////////
BOTTOM PANEL
/////////////////////////////////////////////////////
*/

.bottom-hide {
  max-height: 64px;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

.bottom-show {
  max-height: 100%;
  transition: all 0.5s ease-in-out;
}

.bottom-hide:focus-within {
  max-height: 100%;
}
/* 
.bottom-hide:hover {
  max-height: 100%;
} */

.tab-content {
  height: calc(100% - 76px);
  width: 100%;
  overflow-y: scroll;
  overflow-x: auto;
  position: relative;
  z-index: 0;
  background-color: #191919;
}

.tab-content::-webkit-scrollbar {
  width: .8rem;
  height: .5rem;
  }
  
.tab-content::-webkit-scrollbar-thumb {
  transition: .3s ease all;
  border-color: transparent;
  background-color: #1e83714b;
  border-radius: 8px;
  z-index: 40;
}

.tab-content::-webkit-scrollbar {
  width: .8rem;
  height: .5rem;
  }
  
.tab-content::-webkit-scrollbar-thumb {
  transition: .3s ease all;
  border-color: transparent;
  background-color: #1e83714b;
  border-radius: 8px;
  z-index: 40;
}

.MuiDataGrid-menuList,
.MuiDataGrid-columnsPanel,
.MuiDataGrid-filterForm {
  background-color: #333333;
}
.MuiDataGrid-panelHeader,
.MuiDataGrid-panelFooter {
  background-color: #252525;
}

#resize-drag {
  cursor: row-resize;
  height: 25px;
  width: 75px;
  background-color: rgb(0, 0, 0);
  outline: 2px solid rgba(192, 192, 192, 0.5);
  outline-offset: -5px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  align-self: center;
  margin-top: -25px;
  color: silver;
  user-select: none;
  z-index: 1;
}

.bottom-panel {
  transition: width 250ms ease-in-out;
  background-color: #1e8370;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.htmlattr {
  height: 80%;
  overflow-y: scroll;
  margin-left: 50px;
}

.props-container {
  margin-left: 10px;
  height: 33%;
  width: 100%;
}

.props-input {
  margin-bottom: 15px;
}

.chips {
  height: 55%;
  overflow: auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

.flex1 {
  padding: 10px 20px 10px 5px;
}

.flex2 {
  padding-right: 10px;
  padding-left: 10px;
  border: rgb(68, 68, 68) solid 1px;
  border-radius: 5px;
  background-color: 252526;
}

.event-table {
  height: 300px;
  width: 410px;
  flex-grow: 1;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 20px;
}

/*
//////////////////////////////////////////
NAVBAR
//////////////////////////////////////////
*/

.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  border: solid gray 1px;
}

.main-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 2vw;
}

/* .main-logo h1 {
  color: #013365;
} */

.main-navbar svg {
  width: 30px;
  height: 30px;
  color: gray;
  margin-right: 2vw;
  cursor: pointer;
}

.navDropDown {
  position: absolute;
  border: 1px solid #555;
  width: 20vw;
  border-radius: 5px;
  right: 1vw;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);
  top: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: hidden;
}

.hideNavDropDown {
  display: none;
}

.navDropDown button {
  width: 90%;
  margin: 3px 5%;
  background-color: #333333;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.navDropDown p {
  margin: 3px 5%;
  color: whitesmoke;
}

.navDropDown button:hover {
  cursor: pointer;
  background-color: #555;
}

.navDropDown button svg {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  color: white;
}

#navbarButton {
  color: white;
  margin: 0px 5px 0px 5px;
}

#customized-menu {
  width: 16%;
}

/*
/////////////////////////////////////////////////
CANVAS WINDOW
/////////////////////////////////////////////////
*/

.delete-button-empty {
  float: right;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  border: none;
  font-size: 15px;
  color: white;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.delete-button-empty:hover {
  color: white;
  background-color: rgba(0, 100, 0, 0.4);
}

.componentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', 'Raleway', sans-serif;
  height: 100%;
}

/* Material-UI */
/* Sortable tree sorting */
.sortable-tree {
  height: 100%;
  background-color: rgb(37, 37, 38);
}

div.rst__rowContents {
  width: 45px;
  border: none;
  color: #eee;
  background-color: #333333;
}

.rst__rowContentsDragDisabled {
  background-color: #333333;
  background-color: rgba(37, 37, 38, 0.4);
}

.rst__moveHandle,
.rst__loadingHandle {
  width: 40px;
}

.rst_tree {
  overflow: auto;
}

.rst__rowLabel {
  padding-right: 5px;
}

.closeIcon:hover {
  cursor: pointer;
}

a.nav_link {
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  text-decoration: none;
}

a.nav_link:hover {
  color: #3ec1ac;
  text-decoration: underline;
}

/* Additional styling for ReacType X */
.componentDefault {
  width: auto;
  border: 2px solid gray;
  min-height: 150px;
  padding: 10px;
  background-color: rgb(213, 80, 164);
  opacity: 0.75;
}

.inputName {
  margin-bottom: 35px;
  text-align: center;
}

.oauth-bttn:hover {
  background-color: #4e76c7;
}

.text-editor .bttn {
  position: absolute;
  bottom: 90px;
  right: 30px;
  z-index: 999;
}

.useState-btn {
  color: rgb(241, 240, 240);
  background-color: rgba(0, 0, 0, 0.54);
  border: 1px solid #46c0a5;
  border-radius: 3px;
  box-shadow: '2px 2px 2px #1a1a1a';
  font-family: Arial, Helvetica, sans-serif;
  padding: 12px;
  margin-left: 5px;
}

.useState-position {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  top: 30%;
  left: 30%;
}

.useState-header {
  font-size: 35px;
  background-color: #1e8370;
  color: rgb(241, 240, 240);
  width: 600px;
  border: 3px;
  border-style: solid;
  border-color: #1e8370;
  font-family: 'Open Sans', sans-serif;
  border-radius: 15px 15px 0px 0px;
}

.useState-dropdown {
  align-self: flex-start;
}

.useState-window {
  width: 600px;
  height: 400px;
  resize: none;
  white-space: pre-line;
  font-size: 18px;
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 0px 0px 15px 15px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(241, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  color: black;
}
