.componentDefault {
  width: 100%;
  border: 2px solid gray;
  min-height: 150px;
  padding: 10px;
  background-color: lightgray;
  opacity: 0.75;
}

.componentPanelWrapper {
  margin-top: 75px;
  width: 100%;
}

.inputName {
  margin-bottom: 35px;
  text-align: center;
}

.makeStyles-panelWrapperList-4::-webkit-scrollbar-track {
  background-color: rgba(25, 25, 25, 0.8);
}

h4 {
  color: white;
  text-align: center;
}

h3 {
  margin: 0;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 1em;
  letter-spacing: 0.5px;
}

.compPanelItem {
  height: 100%;
  position: relative;
  display: flex;
}

.compPanelItem h3 {
  padding-top: 25px;
  font-size: 1.15em;
  letter-spacing: 0.75px;
}

.compPanelItem:hover {
  cursor: pointer;
}

.right {
  padding-top: 35px;
  width: 420px;
}
